<div class="container">
  <h1>Login Form</h1>
  <form #loginForm="ngForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required name="username" #username="ngModel" [(ngModel)]="model.username">
      <div class="alert alert-danger" [hidden]="username.valid || username.untouched">
        This field is required!
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required name="password" #password="ngModel" [(ngModel)]="model.password">
      <div class="alert alert-danger" [hidden]="password.valid || password.untouched">
        This field is required!
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.form.invalid">Login</button>
  </form>

  <div class="alert alert-danger" *ngIf="loginFailed">
    {{errMessage}}
  </div>
</div>